.header{color: #feffff;
	min-height: 100px;
	background-color: #252731;
}
.wrapper{
overflow: hidden;
border:5px solid black;
}

.box{
	min-height: 100px;
	width: 33.33%;
	float: left;
	}
.red{
	background-color: red;
	
	}
.blue{
	background-color: blue;
	
	
}
.yellow{background-color: yellow;}
	
.footer{
	background-color: teal;
	min-height: 100px;
	width: 100%;
	

}
.header2{
	min-height: 100px;
	background-color: aqua;
	
}
.container{
	overflow: hidden;
	border:5px solid black;}
	
	

.contact {color: white;
	min-height: 100px;
	width: 60%;
	background-color: #290080;
	float: left;
	


}
.blog{min-height: 100px;
	width:40%;
	background-color: #9a7f7f;
	float: right;
	

}
.footer2{
	min-height: 100px;
	
	background-color:#5f78ff;
padding-top: 1%}
